h1{
    color: #9F0909;
    font-size: 72px;
}

h2{
    color: white;
    font-size: 48px;
}

section{
    height: 100vh;
    width: 100%;
    background-image: url('./../../../../public/assets/img/aot/hero_bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div{
    width: 100%;
}