footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: #0A141E;
    height: 150px;
}

a{
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

img{
        height: 44px;
    }