<div class="container fontRaleway">
  <h2>OUR MENU</h2>
  <div class="selection">
    <div class="menu_item">
      <img src="assets/img/our_menu/R1.png" alt="Tonkatsu Ramen" />
      <div class="item_details">
        <h3>Tonkotsu Ramen</h3>
        <div class="item_prices">
          <table>
            <tr>
              <td>CHICKEN</td>
              <td>11,95€</td>
            </tr>
            <tr>
              <td>BEEF</td>
              <td>12,95€</td>
            </tr>
            <tr>
              <td>SHRIMP</td>
              <td>13,95€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="menu_item item_reversed">
      <img src="assets/img/our_menu/R2.png" alt="Spicy Miso Ramen" />
      <div class="item_details">
        <h3>Spicy Miso Ramen</h3>
        <div class="item_prices">
          <table>
            <tr>
              <td>CHICKEN</td>
              <td>11,95€</td>
            </tr>
            <tr>
              <td>BEEF</td>
              <td>12,95€</td>
            </tr>
            <tr>
              <td>SHRIMP</td>
              <td>13,95€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="menu_item">
      <img src="assets/img/our_menu/R3.png" alt="Shio Ramen" />
      <div class="item_details">
        <h3>Shio Ramen</h3>
        <div class="item_prices">
          <table>
            <tr>
              <td>CHICKEN</td>
              <td>11,95€</td>
            </tr>
            <tr>
              <td>BEEF</td>
              <td>12,95€</td>
            </tr>
            <tr>
              <td>SHRIMP</td>
              <td>13,95€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
