<div class="container fontRaleway">
  <h2>HOW TO ORDER</h2>
  <div class="selection">
    <div class="item">
      <img src="assets/img/how_to_order/noodle.png" alt="noodles" />
      <p>pick your noodle</p>
    </div>
    <div class="item">
      <img src="assets/img/how_to_order/broth.png" alt="broths" />
      <p>pick your broth</p>
    </div>
    <div class="item">
      <img src="assets/img/how_to_order/egg.png" alt="toppings" />
      <p>pick your toppings</p>
    </div>
  </div>
</div>
